<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%t] %logger{36} - %msg%n" />
            <ThresholdFilter level="DEBUG" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>

        <Logger name="jeggle" level="debug" />

        <logger name="org.apache.logging.log4j"   level="info"/>

    </Loggers>
</Configuration>
